.heading {
    font-size: 23px;
    width: 100%;
    margin: 0px;
}

.note {
    font-size: 15px;
    color:black;
}

.background {
    background: cover;
}

.button_sn {
    margin-top: 10px;
    width: 100px;
}